:root{
    --altura:0;
}

body {
	background: linear-gradient(-45deg, #EBD7E0, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
button{
    width: 70px;;
}
.centrado{
    display:flex;
    justify-content: center;
    align-items: center;
}
.escondido{
    overflow: hidden;
}

#pdc{
    background-color: rgb(42, 42, 45);
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

#guacamole{
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 5em;
}
#guacamole:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

#offcanvasBottom2{
    height: 380px;
    width: 400px;
    background-color: #ffffff00;
    border: none;
}
#imagen1{
    height: 100%;
}
#as{
    background-color: #EBD7E0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

#offcanvasBottom1{
    height: 100vh;
}
#loco{
    margin-bottom: 50px;
}
.alola{
    background-color: #e2c2ce;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}
#alola a{
    font-size: 1.6em;
    font-weight: bolder;
}
#casa{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-columns: 50% 50%;
    column-gap: 40px;
}
.but{
    width: 100px;
    height: 50px;
    font-size: 1.7em;
    font-weight: bold;
}
#cuerpo{
   background-color: rgb(255, 255, 255)a(255, 0, 0, 0);
   height: 100vh;
    
}
#caja{
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter:  blur(2px);
    max-width: 90vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.358);
}
#bottones{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
