:root{
    --altura:0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.centrado{
    display:flex;
    justify-content: center;
    align-items: center;
}
#cuerpo{
   background-color: rgb(255, 255, 255)a(255, 0, 0, 0);
   height: 100vh;
    
}
#caja{
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter:  blur(2px);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.358);
}
