body{
    background: linear-gradient(140deg, #401626, #69223C, #A35969, #F3C37F, #CF5D16, #A02321);
    width: 100vw;
    height: 100vh;
}
.centrado{
display:flex;
justify-content: center;
align-items: center;
}
#fondo{
background-color: aliceblue;
border-radius: 20px;
width: 70%;
height: 60vh;
}