body{
        background: linear-gradient(140deg, #5756bb, #8182da, #a18ddd,#d3a3da,#e1b1e8);
        width: 100vw;
        height: 100vh;
}
.centrado{
    display:flex;
    justify-content: center;
    align-items: center;
}
#fondo{
    background-color: aliceblue;
    border-radius: 20px;
    width: 70%;
    height: 60vh;
}
.rad-lab{
    width: 70px;
    height: 70px;
    /*outline: solid 1px rgb(0, 217, 255);*/
    position: fixed;
}

.rad{
    transition:.7s ease;
    width: 65px;
    height: 65px;
    display:inline-block;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1828/1828884.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    animation: kulikitakati 2000ms ease-in-out infinite;
    transform: translateY(0);
}

.rad-lab input{
    display: none;
}

.rad-lab input:checked + .rad{
    transition:.7s ease;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135296.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


@keyframes kulikitakati{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}