body{
        background: linear-gradient(140deg, #5756bb, #8182da, #a18ddd,#d3a3da,#e1b1e8);
        width: 100vw;
        height: 100vh;
}
.centrado{
    display:flex;
    justify-content: center;
    align-items: center;
}
#fondo{
    background-color: aliceblue;
    border-radius: 20px;
    width: 70%;
    height: 60vh;
}